@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400');

$primary: #41ad33;
$link: #5b7baa;
$link-hover: #FFFFFF;
$text: #adadaf;
$text-strong: #d5dadf;

$danger: #CC1F00;
$warning: #FFFF03;


$box-background-color: #2c2c32;
$card-background-color: $box-background-color;
$card-footer-border-top: 1px solid #2e4052;
$table-background-color: $box-background-color;
$table-cell-border: 1px solid #2e4052;
$table-color: $text;
$card-radius: 20px;
$panel-heading-background-color: $box-background-color;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;

html, body {
  background: #1A1A22 !important;
  //background: transparent !important;
}

.is-hand {
  font-family: "Indie Flower" !important;
}


@import "../../../node_modules/bulma/bulma.sass";
