@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

$family-primary: Raleway;

$body-size: 20px !default
$body-weight: 500 !default

$primary: #41ad33;
$link: #FFFF03;
$link-hover: #FFFFFF;
$text: #adadaf;
$text-strong: #d5dadf;

$danger: #CC1F00;
$warning: #FFFF03;


$box-background-color: #232328;
$card-background-color: $box-background-color;
$card-footer-border-top: 1px solid #414147;
$table-background-color: $box-background-color;
$table-cell-border: 1px solid #414147;
$table-color: $text;
$card-radius: 20px;
$panel-heading-background-color: $box-background-color;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;
$input-background-color: #575758;
$input-border-color: #232323;

html, body {
  background: #15151b !important;
  //background: transparent !important;
}

.is-hand {
  font-family: "Indie Flower" !important;
}


@import "../../../node_modules/bulma/bulma.sass";
